.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.error-message {
  font-size: 0.8rem;
  color: #CC0B78;
}

.site-header {
  position: relative;
  height: 6rem;
}

.main-nav  {
  padding-top: 1rem;
  font-size: 1rem;
}

.main-nav .dropleft .dropdown-menu {
  margin-top: 1.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.avatar-img {
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 50%;
  border: 0.01rem solid rgba(0, 0, 0, 0.5);
  background-color:#556;
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 17.5px, 10px 17.5px, 0 0, 10px 17.5px;
}

.sign-in,
.register {
  width: 20rem;
}

.sign-in input,
.register input {
  width: 90%;
  display: block;
  margin: 0 auto;
  background-color: transparent;
}

.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 0.5rem;
  background-color: rgba(92, 218, 218, 0.7);
  font-size: 1.2rem;
}

.site-footer a {
  text-decoration: none;
  color: #CC0B78;
}

.site-footer a:hover {
  text-decoration: underline;
}

.site-footer span {
  color: #CC0B78;
}

.capitalize {
  text-transform: capitalize;
}

@media screen and (min-width: 31rem) {
  .site-header {
    height: 10rem;
  }

  .main-nav  {
    font-size: 1.5rem;
  }
}
