.Logo {
  height: 6rem;
  width: 6rem;
  position: absolute;
  top: 0;
  left: 0;
}

.Logo img {
  width: 100%;
}

@media screen and (min-width: 31rem) {
  .Logo {
    height: 10rem;
    width: 10rem;
  }
}
