.ImageCard {
  width: 22rem;
  height: 17rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 1rem;
  position: relative;
}

.ImageCard .cta-button {
  width: 10rem;
  position: absolute;
  bottom: 10%;
  left: 6rem;
}
