.image-holder {
  width: 80%;
  max-width: 22rem;
  position: relative;
}

.image-holder .bounding-box {
  position: absolute;
  box-shadow: 0 0 0 0.1rem #0239B7 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.image-holder .view-colors {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5CDADA;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 0.1rem solid white;
  z-index: 5;
}

.image-holder img {
  width:100%;
}
