.face-recognition {
  margin-bottom: 5rem;
}

.face-recognition .image-holder {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

.face-recognition .image-holder .bounding-box {
  position: absolute;
  box-shadow: 0 0 0 0.1rem #0239B7 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.face-recognition .image-holder img {
  width:100%;
  height: 100%;
  vertical-align: top;
}

@media screen and (min-width: 42rem) {
  .face-recognition {
    display: flex;
  }
}
